@model string

@{
    ViewBag.Title = "添加角色";
}

<h2>添加角色</h2>

@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>角色名称</label>
        <input name="name" value="@Model" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">添加角色</button>
    @Html.ActionLink("取消","Index",null,new {@class="btn btn-default"})
}